{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'formulario.css' %}">
    <title>Tu Formulario</title>
    <nav>
        <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
        </ul>
    </nav>
</head>

<body>
    <div class="content">
        <div class="login-box">
            <h1>Formulario de Registro</h1>
            <form method="POST" id="formpost">
                {% csrf_token %}
                <label for="nombre_usuario">Nombre de usuario:</label>
                <input type="text" name="nombre_usuario" required>

                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" required>

                <label for="apellidos">Apellidos:</label>
                <input type="text" name="apellidos" required>

                <label for="contrasena">Contraseña</label>
                <input type="password" name="contrasena" placeholder="Ingresa La Contraseña">

                <label for="email">Email:</label>
                <input type="email" name="email" required>

                <label for="edad">Edad:</label>
                <input type="number" name="edad" min="1" required>

                <label for="peso">Peso:</label>
                <input type="number" step="0.01" name="peso" min="0" max="999.99" required>

                <label for="altura">Altura:</label>
                <input type="number" step="0.01" name="altura" min="0" max="999.99" required>

                <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                <input type="date" name="fecha_nacimiento" required>

                <label for="roles">Rol:</label>
                <select name="roles" required>
                    <option value="usuario">Usuario normal</option>
                    <option value="parrillero">Parrillero</option>
                    <option value="admin">Administrador</option>
                </select>

                <button class="btn btn-send" type="submit" title="enviar">Enviar</button>
                <p>
                    <a href="/" onclick="hideForgotPassword()">Volver al inicio de sesión</a>
                </p>
            </form>
        </div>