{% extends 'base.html' %}

{% block content %}
{% include 'layout/header.html' %}
<div class="section-content">
    <div class="">
        <h1>NOSOTROS</h1>
    </div>
</div>
<div class="div">
    <h5>
        Somos "ParriYA", una empresa dedicada a llevar la experiencia de un asado delicioso <br>
        directamente a tu hogar. Nos enorgullece ofrecer un servicio excepcional de asadores a <br>
        domicilio, brindando momentos memorables a nuestros clientes. <br>

Nuestra Misión: <br>
En "ParriYA", nuestra misión es transformar cada ocasión en un festín memorable. <br> Buscamos proporcionar la mejor experiencia de asado, combinando la pasión por la <br> parrilla con la comodidad de disfrutarla en la intimidad de tu hogar. <br>

Historia: <br>
Desde nuestros humildes comienzos, hemos crecido con la firme convicción de que un <br> buen asado es más que solo comida; es una celebración de la vida. A lo largo de los años, <br> hemos llevado sonrisas a innumerables hogares, creando recuerdos duraderos alrededor <br> de la parrilla. <br>

Equipo: <br>
Nuestro equipo está formado por apasionados asadores y profesionales comprometidos <br> con hacer que cada experiencia sea única. Con habilidades excepcionales en la parrilla y un <br> enfoque orientado al cliente, trabajamos juntos para superar las expectativas. <br>

Valores: <br>
En "ParriYA", nos regimos por la calidad, la integridad y la dedicación. Valoramos la <br> satisfacción del cliente y nos esforzamos por ofrecer un servicio que refleje nuestro <br> compromiso con la excelencia. <br>
Contáctanos: <br>
Estamos aquí para hacer de tus ocasiones algo especial. Contáctanos para reservar tu <br> asado a domicilio y descubre por qué "Parrillada a tu Casa" es la elección preferida para los <br> amantes de la parrilla. <br>
    </h5>
</div>
<div class="footer">
    <div class="footer-content">
        <p class="copyright">
            <span>© 2023 <a class="link" href="/">ParriYa.com</a>, Inc. o sus afiliados</span>
        </p>
    </div>
</div>

{% endblock %}
